.article {
    border-radius: 10px;
    background-color: #F0F2F5;
    height: 6em;
    margin: 2px;
    padding: 2px;
    width: -webkit-fill-available;
    box-shadow: 5px 6px 10px lightgrey;
    transition: transform .9s;
    transition-delay: .5s;
}
.article:hover {
    transform: scale(1.06);
}

.title {
    font-family: Quicksand;
    font-size: medium;
    font-weight: bold;
    margin: 3px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.description {
    font-family: Quicksand;
    font-size: small;
    margin: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.image {
    align-items: center;
    width: 95%;
    height:100px;
    border-radius: 8px;
    margin: -10px 5px;
}


/* @font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Quicksand-VariableFont_wght.ttf');
} */