#assistant {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* height: 20em; */
    height: 24.3vh;
    width: auto;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 3px 2px 0px 2px;
    border: 1px solid #DCDCDC;
    padding: 0px 30px;
    bottom: 0px;
}

#assistant img {
    height: 40px;
    width: auto;
    background-color: #DCDCDC;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px lightgrey;
    margin-left: 10px;
}

#assistant img {
    transition: transform .5s, opacity .5s ease;
    transition-delay: .1s;
    opacity: .8;
    animation: wiggle 0.5s;
    animation-iteration-count: infinite;
}

#assistant img:hover {
    transform: scale(1.3);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    opacity: 1;
    cursor: pointer;
}

.sendmessage {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.sendmessage:hover {
    cursor: pointer;
}

#dynamic {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
    align-items: center;
}

#dynamic .sendmessage {
    width: 100%;
    /* animation: slide 5s; */
    animation: fadein 3s;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation-delay: 1ms;
    animation-delay: 1ms;
}

@keyframes slide {
    from {width: 25%;}
    to {width: 100%;}
}

@keyframes slide2 {
    from {width: 25%;}
    to {width: 89%;}
}

.sendmessage input {
    font-family: Quicksand;
    width: 100%;
    outline: none;
    background-color: #F0F2F5;
    border: none;
    border-radius: 30px;
    padding: 10px;
    height: 22px;
    margin-right: 5px;
    box-shadow: 0px 0px 20px rgb(212, 212, 212);
}

.sendmessage svg {
    margin: 2px 3px;
    fill: #bec2c9;
    opacity: .5;
    border-radius: 5px;
}

.sendmessage svg:hover {
    transform: scale(1.1);
    opacity: 1;
    fill: #000000;
    transition: transform 1s, opacity 2s ease
}


#sayhello {
    width: 100%;
    height: 50px;
    position: relative;
    background: #F0F2F5;
    text-align: center;
    margin: 0pc 20px;
    font-weight: bold;
    box-shadow: 0px 0px 20px lightgrey;
    animation: slide 5s infinite ease-in;
    animation-delay: 1s;
}

#sayhello:after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #ffffff;
    border-top: 25px solid #F0F2F5;
    border-bottom: 25px solid #F0F2F5;
}

#sayhello:before {
    content: "";
    position: absolute; 
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #F0F2F5;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

#bars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}

.bar {
    background: #52467b;
    bottom: 1px;
    height: 2px;
    width: 5px;
    margin: 0px 1.5px;
    border-radius: 20px;
    animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 30px;        
    }
}
#answerbox {
    margin: 15px 0px 0px 0px;
    width: 88%;
    /* height: 50%; */
    animation: fadein 3s;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation-delay: 1ms;
}
#answerbox textarea{
    width: 100%;
}

#question-answer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
textarea{
    font-family: Quicksand;
    outline: none;
    background-color: #F0F2F5;
    border: none;
    border-radius: 10px;
    padding: 10px;
    height: 60px;
    resize: none;
    box-shadow: 3px 3px 10px lightgrey;
}
.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 6px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 11px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 16px; animation-duration: 458ms; }
/* .bar:nth-child(5)  { left: 21px; animation-duration: 400ms; } */
/* .bar:nth-child(6)  { left: 31px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 37px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 43px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 49px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 55px; animation-duration: 442ms; } */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}