.audiobox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}
.audio {
    height: 30px;
    width: auto;
    margin: 0px 5px;
}

#audio-control {
    margin: 0px 5px;
    outline: none;
    height: 46px;
    width: 250px;
    transition: width 10s;
}   