.App {
  margin: 0px;
  height: 100%;
  width:auto;
} 

body {
  /* overflow: hidden; */
  background-color: #F0F2F5;
  font-family: Quicksand;
}

.section {
  height: 100%;
  border-radius: 10px;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 20px;
}

.menubar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 90px;
  background-color: white;
  margin: 10px 20px 0px 0px;
  height: auto;
  overflow: auto;
  box-shadow: 2px 2px 20px lightgrey;
}

.top{
  
}
.nav:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 61px;
  left: 50px;
  z-index: 1;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
}
.left {
  width: 55%;

}

.right {
  width: 45%;
}

.contents, .detail-contents {
  overflow: auto;
  padding: 5px 10px;
  text-align: justify;
}

.contents {
  height: 80vh;
}

.detail-contents {
  height: 64vh;
}


#content-loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: 1px solid gainsboro;
  border-radius: 10px;
  background-color: white;
}

legend {
  font-weight: bold;
  font-size: smaller;
  color: grey;
}

.copyright{
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 13px;
  margin-bottom: 4px;
}

.copyright svg {
  height: 22px;
  margin: 0px 5px;
  animation: heartbeat 1s infinite alternate;
  transform-origin: center;
}

.menu-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 4em;
}

.menu-icons img {
  height: 26px;
  width: 26px;
  opacity: .6;
}

.menu-icons img:hover {
  cursor: pointer;
  transform: scale(1.5);
  opacity: 1;
  transition: transform .5s, opacity .5s ease;
}


@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  src: url('./components/styles/fonts/Quicksand-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  src: url('./components/styles/fonts/Comfortaa-VariableFont_wght.ttf');
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes beat {
  to {
    transform: scale(1.2);
  }
}
@keyframes heartbeat{
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1);
  }
  30%{
    transform: scale(1.3);
  }
  50%{
    transform: scale(1.2);
  }
  70%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes shake-two {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(2px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  40%, 60% {transform: translate3d(4px, 0, 0);}
}


@keyframes shake-three {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}


@-webkit-keyframes shake-four {
  from {
    -webkit-transform: rotate(10deg);
  }

  to {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-10deg);
  }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(15deg); }
    80% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}




/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}